$radius : 45px;
$bg: #282c34;
$bg2:#343A40;

.drawer {
    width: 100vm;
    height: 70vh;
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    background: $bg;
    display: flex;
    justify-content: space-between;
    color: white;

    &__bg {
        width: 20px;
        height: 100%;
    }

    &__hero {
        display: flex;
        height: 100%;
        width: 30%;
    }

    &__hero-content {
        width: 100%;
        height: 100%;
        background: $bg2;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    &__company-image {
        width: 120px;
        height: 120px;
        border-radius: 60px;
        margin: 20px;
    }

    &__name {
        font-weight: bold;
        text-align: center;
        margin: 10px 0;
        font-size: 20px;

    }

    &__salary {
        margin-top: 10px;
        color: #61DAFB;
    }

    &__join {
        margin-top: 20px;
    }

    &__block {
        height: 100%;
        padding: 20px 40px 20px 0;
        width: 55%;
    }

    &__block-content {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        background: $bg2;
        padding: 20px;
    }

    &__more-info {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 20px;
    }

    &__desc {}
}

.MuiDrawer-paperAnchorBottom {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    background: $bg !important;
}